<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Paramètres</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="/settings"><i class="fas fa-cog   "></i>Paramètres</a> </li>
                    <li class="breadcrumb-item"><a href="javascript:"><i class="fas fa-edit    "></i> Editer</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->
{{#each errors}}
  <div class="error">
    <div class="alert alert-danger text-center"><i class="fas fa-exclamation-triangle    "></i> {{text}}</div>
  </div>
{{/each}}
<div class="card card-body">
  <h3>Modifier les infos générales du serveur 
    {{!-- Modifier les infos du ticket --}}
    </h3>
  <form action="/mkroute/edit" method="post">
    <div class="form-group">
      <label for="ticket_header">Entête</label>
      <input
        type="message"
        class="form-control"
        name="ticket_header"
        value="{{ticket_header}}"
        required
      />
    </div>
    <div class="form-group">
      <label for="ticket_footer">Pied de page</label>
      <input
        type="message"
        class="form-control"
        name="ticket_footer"
        value="{{ticket_footer}}"
        required
      />
    </div>
    <div class="form-group">
      <label for="mikrotik_address">Addresse mikrotik</label>
      <input
        type="message"
        class="form-control"
        name="mikrotik_address"
        value="{{mikrotik_address}}"
        required
      />
    </div>
    <div class="form-group">
      <label for="printer_address">Addresse printer</label>
      <input
        type="message"
        class="form-control"
        name="printer_address"
        value="{{printer_address}}"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
  </form>
</div>